<script type="text/javascript">
  function deal_feed_over_disabled(feed_box, id){
    new Effect.Opacity($('deal_additional_info_' + id).setOpacity(0).setStyle({
        height: feed_box.offsetHeight + 'px',
        width: feed_box.offsetWidth + 'px',
        display: 'block',
      }), { from: 0, to: 0.7, duration: 0.5 });
  }
</script>
<% deal = feed.deal; quantity = deal.spongers.count;  -%>
<div style="margin: 0 0 0 0;">
<% if deal.is_enabled %>
  <%= render :partial => 'deal_feed_enabled', :locals => {:deal => deal} %>
<% else %>
  <%= render :partial => 'deal_feed_disabled', :locals => {:deal => deal} %>
<% end %>
</div>