<div>
  <table width="100%">
    <tr><td valign="center" width="40px">
      <%= image_tag "icons/friend_add.png" %>
    </td><td align="left">
      <%= "#{feed.friend.owner.name} i #{feed.friend.account.name} są teraz przyjaciółmi" %>
    </td></tr>
  </table>
</div>
