<form action="/friends/invite">
  <h2>Dodaj znajomego</h2>
  <input name="email" class="text_field huge" style="width:150px;font-size:20px;display:inline;" type="text" value="email"/><br/>
  <input value="Dodaj" class="big_button" style="margin: 10px 0 0 0;" type="submit"/>
</form> 