<style type="text/css">
  
  #icon_box {
  position:absolute;
  left:100px;
  top:100px;
  display:none;
  padding: 15px;
  }
  
  .icon {
  background-color: #FFFFFF;
  }
  
  .icon img {
  width:25px;
  height:25px;
  }
  
</style>
<script type="text/javascript">
var Observator = Class.create({
  initialize: function(selector, callbacks){
    $$(selector).each(function(element){
      for(event_name in callbacks){
        Event.observe(element, event_name, callbacks[event_name])
      }
    })
  }
})

function mousePosition(event){
   return {
     x: event.clientX ? event.clientX + document.body.scrollLeft : event.pageX,
     y: event.clientY ? event.clientY + document.body.scrollTop : event.pageY
   }
}

var IconBox = Class.create({
  initialize: function(box_id, chosen_id, imageslist){
    this.box = $(box_id)
    this.list = imageslist
    this.chosen = $(chosen_id)
    this.build()
  },
  
  build: function(){
    var buffer = "<table cellpadding='0' cellspacing='0' style='border:2px solid #CCCCCC;'>"
    this.list.each(function(item, index){
      if(index % 10 == 0) buffer += "<tr>";
      buffer += "<td><div class='icon' id='icon"+index+"'><img src='" + item + "'/></div></td>";
      if((index + 1)% 10 == 0) buffer += "</tr>\n";
    })
    if(this.list.length % 10 != 0) buffer += "</tr>"
    buffer += "</table>"
    this.box.innerHTML = buffer;
    
    this.box.setStyle({
      left: '100px',
      top: '100px'
    })
    
    this.hide()
    var context = this
    new Observator('#'+this.chosen.id, {
      mouseover : function(event){
        context.box.style.display == 'none' ? context.show() : context.hide()
      }
    })
    this.box.onmouseout = function(event){
      if(event.target != event.currentTarget)
        event.stop()
      else
        context.box.hide()
    }
    new Observator('.icon', {
      mouseover : function(event){
        event.target.setStyle({backgroundColor : '#FFFF9A'})
      },
      mouseout : function(event){
        event.target.setStyle({backgroundColor : '#FFFFFF'})
      },
      click : function(event){
        context.choose(event)
      }
    })
  },
  
  show: function(){
    this.box.setStyle({display:'inline'})
  },
  
  hide: function(){
    this.box.setStyle({display:'none'})
  },
  
  choose: function(event){
    this.hide()
    this.chosen.src = event.currentTarget.down().src
  }
})



Event.observe(window, "load", function(){
  var icons = new Array()
  for(var i = 1; i <= 100; i++){
    icons.push('/images/icons/' + i + '.gif')
  }
  new IconBox("icon_box", "chosen_icon", icons)
})
</script>
<form method="POST" action="/deals/add" onsubmit="return process_add_form(this)">
  <img id="chosen_icon" src="/images/icons/1.gif"/>
  <div id="icon_box"></div>
  <input type="hidden" name="sponsor_id"/>
  <input type="hidden" name="spongers_ids"/>
  <input type="hidden" name="icon" value="1" />
  <input name="description" id="description" class="text" style="width:250px;font-size:30px;" type="text" value="Opis zaqpka" onfocus="if(this.value=='Opis zaqpka')this.value=''"/>
  <span class="zaqp" style="margin: 30px 10px 3px 10px; display: inline;">za</span>
  <input name="cost" class="text_field huge" style="width:75px;font-size:30px;display:inline;" type="text">
  <span class="zaqp" style="margin: 30px 10px 3px 10px; display: inline;">zł</span><br/><br/>
  <span>
    <span style="margin: 30px 10px 3px 10px; display: inline;">kto</span>
    <input type="text" id="sponsor"/>
  </span>
  <span>
    <span style="margin: 30px 10px 3px 10px; display: inline;">komu</span>
    <input type="text" id="spongers"/>
  </span><br />  
  <input value="Dodaj" style="margin-top: 10px" class="big_button" class="text_field huge" type="submit" id="deal_submit"/>
</form>