  <form method="POST" action="/signup/finalize">
        Nick: <input name="name" class="text_field huge" style="width:200px;font-size:30px;display:inline;" type="text"><br/>
        Haslo: <input name="password" class="text_field huge" style="width:200px;font-size:30px;display:inline;" type="password"><br/>
        Powtorz: <input name="confirmation_password" class="text_field huge" style="width:200px;font-size:30px;display:inline;" type="password"><br/>
    <input value="Stworz konto" style="margin-top: 10px" class="big_button" class="text_field huge" type="submit"/>
  </form>