<link rel="stylesheet" type="text/css" href="stylesheets/Autocompleter.css"/>

<script src="javascripts/mootools-1.2.1-core-nc.js"></script>
<script src="javascripts/Autocompleter.js"></script>
<script src="javascripts/Autocompleter.Local.js"></script>
<script src="javascripts/Observer.js"></script>
<p style="color:red">
<%= flash[:error] %>
</p>
<p style="color:green">
<%= flash[:notice] %>
</p>
<%= yield %>